@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #e4e9eb;
}

div.accordion {
  max-height: 80px;
}

div.accordion div.contentBx {
  position: relative;
  margin: 10px 30px;
}

div.accordion div.contentBx div.label {
  position: relative;
  padding: 15px;
  background: #2694af;
  color: #fff;
  cursor: pointer;
}

div.accordion div.contentBx div.label::before {
  content: "+";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5rem;
}

div.accordion div.contentBx.active div.label::before {
  content: "-";
  font-size: 1.5rem;
}

div.accordion div.contentBx div.content {
  position: relative;
  background: #fff;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
}

div.accordion div.contentBx.active div.content {
  height: 150px;
  padding: 15px;
}

div.accordion div.contentBx.active div.content p {
  font-size: 0.9rem;
  color: #3e3e3e;
}
